* {
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
}

body {
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-size: 1.3rem;
}
.card {
  transition: 0.5s all;
}

@media (min-width: 992px) {
  .card:hover {
    transform: scale(1.05);
  }
}
